<p id="notice"><%= notice %></p>

<h1>Pos</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pos.each do |pos| %>
      <tr>
        <td><%= pos.shop_id %></td>
        <td><%= pos.number %></td>
        <td><%= link_to 'Show', pos %></td>
        <td><%= link_to 'Edit', edit_pos_path(pos) %></td>
        <td><%= link_to 'Destroy', pos, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pos', new_pos_path %>
