<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @pos.shop_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @pos.number %>
</p>

<%= link_to 'Edit', edit_pos_path(@pos) %> |
<%= link_to 'Back', pos_index_path %>
